@import "variables";

.track-details {
  display: flex;
  flex-direction: column;
  background-color: $dark-secondary;
  padding: 1rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: $dark-tertiary;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__fav {
    cursor: pointer;
    font-size: 20px;
    &:hover {
      scale: 1.2;
    }
  }
}