@import "variables";

.track-details {
  display: flex;
  flex-direction: column;
  background-color: $dark-secondary;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 200px;
  &:hover {
    background-color: $dark-tertiary;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__fav {
    cursor: pointer;
    font-size: 20px;
    &-isFavorite {
      color: $green-primary;
    }
  }

  &__text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
  }
}
