<section class="track-details">
  <app-cover-img [cover]="track.cover"></app-cover-img>
  <app-text-b [text]="track.title" class="track-details__text"></app-text-b>
  <article class="track-details__footer">
    <app-text-a
      [text]="track.description!"
      class="track-details__text"
    ></app-text-a>
    <i
      class="material-icons track-details__fav"
      (click)="emitFavoriteEvent()"
      [ngClass]="{ 'track-details__fav-isFavorite': track.favorite }"
      >favorite
    </i>
  </article>
</section>
