@import "variables";
@import "mixins";

.track-list {
  padding: 1rem;
  margin-bottom: 5rem;
  @include from($medium) {
    margin-bottom: 0;
    margin-left: 12rem;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__content {
    display: grid;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
  }
}
