@import "variables";
@import "mixins";

.track-list {
  padding: 1rem;
  margin-bottom: 5rem;
  @include from($medium) {
    margin-bottom: 0;
    margin-left: 12rem;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__content {
    display: grid;
    justify-items: center;
    gap: 1rem;
    @include from($small) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include from($medium) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include from($x-large) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include from($xxx-large) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include from($high-quality) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
