@import "../../../styles/variables.scss";

.login {
  min-height: 100vh;
  max-width: 320px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.login__logo {
  width: 100px;
  margin: 0 auto;
}

.login__title {
  margin: 0 auto;
}

.login__title-text {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
