@import "variables";
@import "mixins";

.home {
  padding: 1rem;
  margin-bottom: 5rem;
  @include from($medium) {
    margin-bottom: 0;
    margin-left: 12rem;
  }
  &__title {
    margin-bottom: 1rem;
  }
}
